amqp==5.0.5
appdirs==1.4.4
asgiref==3.4.1
astroid==2.4.2
async-generator==1.10
atomicwrites==1.4.0
attrs==21.2.0
awsebcli==3.20.0
beautifulsoup4==4.9.3
billiard==3.6.3.0
botocore==1.20.73
bs4==0.0.1
caer==1.9.8
celery==5.0.5
cement==2.8.2
certifi==2020.6.20
cffi==1.15.0
chardet==3.0.4
class-registry==2.1.2
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
codecov==2.1.12
colorama==0.4.3
coverage==5.3
cryptography==36.0.0
distlib==0.3.1
Django==3.2.9
django-cors-headers==3.5.0
django-dynamic-fixtures==0.2.1
django-filter==21.1
django-registration-redux==2.9
djangorestframework==3.12.2
Faker==9.8.3
filelock==3.0.12
filters==1.3.2
Flask==1.1.2
freezegun==1.1.0
future==0.16.0
gunicorn==20.1.0
h11==0.12.0
hypothesis==6.28.1
idna==2.10
iniconfig==1.1.1
isort==5.6.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
kombu==5.0.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mixer==7.2.0
mypy==0.812
mypy-extensions==0.4.3
numpy==1.20.1
opencv-contrib-python==4.5.1.48
outcome==1.1.0
packaging==21.3
pathspec==0.5.9
Pillow==8.3.2
pipenv==2020.8.13
pluggy==1.0.0
portalocker==2.2.1
prompt-toolkit==3.0.17
psycopg2==2.8.6
py==1.11.0
pycparser==2.21
pylint==2.6.0
pylint-django==2.4.4
pylint-plugin-utils==0.6
pyOpenSSL==21.0.0
pyparsing==3.0.6
pypiwin32==223
pytest==6.2.5
pytest-cov==3.0.0
pytest-django==4.3.0
python-dateutil==2.8.1
pytz==2020.4
pywin32==300
PyYAML==5.3.1
regex==2021.11.10
requests==2.24.0
selenium==4.1.0
semantic-version==2.8.5
six==1.14.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.0.1
SQLAlchemy==1.3.19
sqlparse==0.4.1
termcolor==1.1.0
text-unidecode==1.3
toml==0.10.1
trio==0.19.0
trio-websocket==0.9.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.26.7
vine==5.0.0
virtualenv==20.0.31
virtualenv-clone==0.5.4
wcwidth==0.1.9
Werkzeug==1.0.1
wrapt==1.12.1
wsproto==1.0.0
